*.o
*.bundle
*.log
.DS_Store
swig/Makefile
ruby/apriori/test/results.txt
doc
doc/*
.config
examples/test_data/accidents.dat
examples/test_data/chess.dat
examples/test_data/kosarak.dat
examples/test_data/retail.dat
ext/apriori/src/apriori
pkg/apriori-*
